.ojheader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.donate{
    display: flex;
    justify-content: center;
    margin: 1em;
}

.donate-heading{
    margin: 1vw;
}